certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
idna==2.7
ipaddress==1.0.22
networkx==2.2
pip>=18.0
requests==2.20.0
urllib3==1.24.2
wheel==0.32.0
setuptools==40.4.3
paramiko==2.6.0
boto3>=1.9.214
pulp==1.6.10
asyncssh==1.17.1
asyncio==3.4.3
pytest==5.1.0
PyYAML==5.1.2
awscli>=1.16.224
progressbar2==3.43.1
git+git://github.com/mininet/mininet.git
#git+https://github.com/Giuseppe1992/mapping_distrinet.git
